.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: #2a363b;
  font-size: 18px;
}

.link:hover,
.link:focus {
  color: #2196f3;
}

.activeLink {
  color: #2196f3;
}