

.input {
  display: inline-block;
  width: 400px;
  font: inherit;
  font-size: 20px;
  border: none;
  border-bottom: 1px solid #2a363b;
  outline: none;
  padding-left: 4px;
  padding-right: 4px;
}