.link {
  display: inline-block;
  text-decoration: none;
  padding: 4px;
  font-weight: 700;
  color: #2a363b;
  font-size: 18px;
}

.activeLink {
  color: #2196f3;
}

.link:hover,
.link:focus {
  color: #2196f3;
}

.form{
  width: 400px;
}

.label{
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.text {
  margin-bottom: 25px;
  color: #2196f3;
}

/* .container {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid #2196f3;
}

.textContainer {
  padding: 20px;
  width: 500px;
  text-align: justify;
}

.nav {
  display: flex;
  justify-content: space-around;
  width: 200px;

  margin-bottom: 30px;
} */

/*  */

/* .SearchForm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden;
} */

.input {
  display: inline-block;
  width: 100%;
  font: inherit;
  font-size: 20px;
  border: none;
  border-bottom: 1px solid #2a363b;
  outline: none;
  padding-left: 4px;
  padding-right: 4px;
}

.input::placeholder {
  font: inherit;
  font-size: 16px;
}

.formBtn {
  border: none;
  padding: 5px 20px;
  margin: 15 0px;
  border-radius: 3px;
  background-color: #2196f3;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}


.formBtn:hover,
.formBtn:focus {
  color: #2196f3;
  background-color: #ffffff;
  border: 1px solid #2196f3;

}