.app {
  color: rgb(3, 70, 133);
  text-align: center;
}

button {
  max-width: 150px;
  margin: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
  background-color: rgb(3, 70, 133);
  cursor: pointer;
  color: white;
}

ul {
  list-style: none;
}
